In [1]:
from pymongo import MongoClient, DESCENDING
import pprint

In [2]:
with open("atlas_uri.txt") as f: atlas_uri = f.read()
client = MongoClient(atlas_uri)

In [4]:
# course_client = pymongo.MongoClient(course_cluster_uri)
db = client['mflix']

In [5]:
filters = {}
page = 0
movies_per_page = 20

In [8]:
sort_key = "tomatoes.viewer.numReviews"

movies = db.movies.find(filters).sort(sort_key, DESCENDING)

In [9]:
# count number of total movie documents
total_num_movies = movies.count()
pprint.pprint(total_num_movies)

46014

In [10]:
# limit records based on page number
movies.skip(movies_per_page * page) \
               .limit(movies_per_page)

In [11]:
movie_list = list(movies)

In [12]:
len(movie_list)

20

In [13]:
movie_list[0]

{'_id': ObjectId('573a139af29313caabcf0d74'),
 'awards': 'Won 11 Oscars. Another 116 wins & 63 nominations.',
 'cast': ['Leonardo DiCaprio', 'Kate Winslet', 'Billy Zane', 'Kathy Bates'],
 'comments': [{'_id': '573a139af29313caabcf0d74-Davos Seaworth-1502584252.0',
   'date': datetime.datetime(2017, 8, 12, 20, 30, 52),
   'email': 'liam_cunningham@gameofthron.es',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Davos Seaworth',
   'text': 'Nulla quod dolor amet. Quia perferendis illum nihil consequuntur deleniti a sequi. Quae pariatur nesciunt fugiat corrupti.'},
  {'_id': '573a139af29313caabcf0d74-Sherri Marshall-1499099411.0',
   'date': datetime.datetime(2017, 7, 3, 12, 30, 11),
   'email': 'sherri_marshall@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Sherri Marshall',
   'text': 'Quibusdam ea minima nihil ducimus cumque. Dicta at eius ipsa similique.'},
  {'_id': '573a139af29313caabcf0d74-Talisa Maegyr-1497498383.0',
   'date': datetime.datetime(2017, 6, 14, 23, 46, 23),
   'email': 'oona_chaplin@gameofthron.es',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Talisa Maegyr',
   'text': 'Iste tenetur commodi quae nam adipisci aperiam iusto. Labore blanditiis laborum natus. Deserunt animi dicta occaecati. Saepe nemo qui excepturi corporis.'},
  {'_id': '573a139af29313caabcf0d74-Brienne of Tarth-1496687755.0',
   'date': datetime.datetime(2017, 6, 5, 14, 35, 55),
   'email': 'gwendoline_christie@gameofthron.es',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Brienne of Tarth',
   'text': 'Beatae nemo facere quisquam occaecati accusamus error veniam. Vel nostrum cum itaque vitae quae non. Deleniti hic deleniti amet cupiditate doloremque laborum alias.'},
  {'_id': '573a139af29313caabcf0d74-Amanda Delgado-1493169115.0',
   'date': datetime.datetime(2017, 4, 25, 21, 11, 55),
   'email': 'amanda_delgado@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Amanda Delgado',
   'text': 'Animi illum necessitatibus at quasi voluptas neque. Excepturi reprehenderit nisi exercitationem debitis. Porro vel at quasi laudantium odit laudantium.'},
  {'_id': '573a139af29313caabcf0d74-Miranda Brooks-1492177151.0',
   'date': datetime.datetime(2017, 4, 14, 9, 39, 11),
   'email': 'miranda_brooks@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Miranda Brooks',
   'text': 'Facilis deleniti autem quas a eos nulla magnam. Beatae perspiciatis in ab mollitia numquam. Quidem odio rem itaque qui vel commodi exercitationem.'},
  {'_id': '573a139af29313caabcf0d74-Kristi Lynch-1489703922.0',
   'date': datetime.datetime(2017, 3, 16, 18, 38, 42),
   'email': 'kristi_lynch@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Kristi Lynch',
   'text': 'Velit enim maiores cumque facere numquam. Recusandae fugit placeat officiis quas tempora debitis. At illum est excepturi amet. Et sed beatae et repellat.'},
  {'_id': '573a139af29313caabcf0d74-Emily Walters-1486126416.0',
   'date': datetime.datetime(2017, 2, 3, 7, 53, 36),
   'email': 'emily_walters@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Emily Walters',
   'text': 'Pariatur autem nesciunt illo iste quas consectetur. Assumenda rem id similique amet dolorum distinctio. Quod dicta dolores dolorem. Vitae voluptate temporibus iste neque enim corrupti.'},
  {'_id': '573a139af29313caabcf0d74-Andrew Savage-1482008415.0',
   'date': datetime.datetime(2016, 12, 17, 16, 0, 15),
   'email': 'andrew_savage@fakegmail.com',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Andrew Savage',
   'text': 'Quisquam sint quidem quaerat dolorem eligendi eius architecto. Officia eos delectus itaque quam enim eos consequuntur. Amet eos at fugiat.'},
  {'_id': '573a139af29313caabcf0d74-Davos Seaworth-1481551533.0',
   'date': datetime.datetime(2016, 12, 12, 9, 5, 33),
   'email': 'liam_cunningham@gameofthron.es',
   'movie_id': ObjectId('573a139af29313caabcf0d74'),
   'name': 'Davos Seaworth',
   'text': 'Praesentium blanditiis libero sit optio. Corrupti et cum commodi harum. Repudiandae fuga corrupti esse delectus.'}],
 'countries': ['USA'],
 'directors': ['James Cameron'],
 'fullplot': '84 years later, a 101-year-old woman named Rose DeWitt Bukater tells the story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine, Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in April 10th 1912, on a ship called Titanic when young Rose boards the departing ship with the upper-class passengers and her mother, Ruth DeWitt Bukater, and her fiancï¿½, Caledon Hockley. Meanwhile, a drifter and artist named Jack Dawson and his best friend Fabrizio De Rossi win third-class tickets to the ship in a game. And she explains the whole story from departure until the death of Titanic on its first and last voyage April 15th, 1912 at 2:20 in the morning.',
 'genres': ['Drama', 'Romance'],
 'imdb': {'id': 120338, 'rating': 7.7, 'votes': 716392},
 'languages': ['English', 'French', 'German', 'Swedish', 'Italian', 'Russian'],
 'lastupdated': '2015-09-13 00:41:42.117000000',
 'metacritic': 74,
 'num_mflix_comments': 389.0,
 'plot': 'A seventeen-year-old aristocrat falls in love with a kind, but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.',
 'poster': 'http://ia.media-imdb.com/images/M/MV5BMjExNzM0NDM0N15BMl5BanBnXkFtZTcwMzkxOTUwNw@@._V1_SX300.jpg',
 'rated': 'PG-13',
 'released': datetime.datetime(1997, 12, 19, 0, 0),
 'runtime': 194,
 'title': 'Titanic',
 'tomatoes': {'boxOffice': '$57.9M',
  'consensus': 'A mostly unqualified triumph for James Cameron, who offers a dizzying blend of spectacular visuals and old-fashioned melodrama.',
  'critic': {'meter': 88, 'numReviews': 178, 'rating': 8.0},
  'dvd': datetime.datetime(2012, 9, 10, 0, 0),
  'fresh': 157,
  'lastUpdated': datetime.datetime(2015, 9, 13, 17, 5, 18),
  'production': 'Paramount Pictures',
  'rotten': 21,
  'viewer': {'meter': 69, 'numReviews': 35792304, 'rating': 3.3},
  'website': 'http://www.titanicmovie.com/'},
 'type': 'movie',
 'writers': ['James Cameron'],
 'year': 1997}

In [14]:
page = 1

In [15]:
movies = db.movies.find(filters) \
                  .sort(sort_key, DESCENDING) \
                  .skip(movies_per_page * page)

In [16]:
len(list(movies))

45994