In [1]:
import pymongo

In [2]:
course_cluster_uri = "mongodb://agg-student:agg-password@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin"
course_client = pymongo.MongoClient(course_cluster_uri)

In [3]:
routes = course_client['aggregations']['air_routes']

In [4]:
routes.find_one({"airplane": {"$regex": "747|380"}})

{'_id': ObjectId('56e9b39b732b6122f8780d2d'),
 'airline': {'alias': 'AA',
  'iata': 'AAL',
  'id': 24,
  'name': 'American Airlines'},
 'airplane': '380',
 'codeshare': '',
 'dst_airport': 'KUL',
 'src_airport': 'CDG',
 'stops': 0}

In [5]:
list(course_client['aggregations']['air_alliances'].find())

[{'_id': ObjectId('5980bef9a39d0ba3c650ae9d'),
  'airlines': ['Air Berlin',
   'American Airlines',
   'British Airways',
   'Cathay Pacific',
   'Finnair',
   'Iberia Airlines',
   'Japan Airlines',
   'LATAM Chile',
   'LATAM Brasil',
   'Malasya Airlines',
   'Canadian Airlines',
   'Quantas',
   'Qatar Airways',
   'Royal Jordainian',
   'SriLanka Airlines',
   'S7 Airlines'],
  'name': 'OneWorld'},
 {'_id': ObjectId('5980bef9a39d0ba3c650ae9b'),
  'airlines': ['Air Canada',
   'Adria Airways',
   'Avianca',
   'Scandinavian Airlines',
   'All Nippon Airways',
   'Brussels Airlines',
   'Shenzhen Airlines',
   'Air China',
   'Air New Zealand',
   'Asiana Airlines',
   'Brussels Airlines',
   'Copa Airlines',
   'Croatia Airlines',
   'EgyptAir',
   'TAP Portugal',
   'United Airlines',
   'Turkish Airlines',
   'Swiss International Air Lines',
   'Lufthansa',
   'EVA Air',
   'South African Airways',
   'Singapore Airlines'],
  'name': 'Star Alliance'},
 {'_id': ObjectId('5980bef9a39d0ba3c650ae9c'),
  'airlines': ['Aeroflot',
   'Aerolinias Argentinas',
   'Aeromexico',
   'Air Europa',
   'Air France',
   'Alitalia',
   'China Airlines',
   'China Eastern Airlines',
   'China Southern Airlines',
   'Czech Airlines',
   'Delta Air Lines',
   'Garuda Indonesia',
   'Kenya Airways',
   'KLM',
   'Korean Air',
   'Middle East Airlines',
   'Saudia',
   'TAROM',
   'Vetnam Airlines',
   'Xiamen Airlines'],
  'name': 'SkyTeam'}]

# Lab: Using ``$lookup``

## For this lab, you'll be using the ``$lookup``.

#### The dataset for this lab can be downloaded by clicking the following links - [air_alliances](https://s3.amazonaws.com/edu-static.mongodb.com/lessons/coursera/aggregation/air_alliances.json), [air_routes](https://s3.amazonaws.com/edu-static.mongodb.com/lessons/coursera/aggregation/air_routes.json) - for upload to your own cluster.

### Question

Which alliance from ``air_alliances`` flies the most **routes** with either a
Boeing 747 or an Airbus A380 (abbreviated 747 and 380 in ``air_routes``)?

**Note**: Begin from the ``air_routes`` collection!

In [6]:
# predicate is given this lab
predicate = {
  "$match": {
      "airplane": {"$regex": "747|380"}
  }
}

In [7]:
lookup = {
    '$lookup': {
        'from': 'air_alliances',
        'localField': 'airline.name',
        'foreignField': 'airlines',
        'as': 'alliance'
    }
}

pipeline = [
    predicate,
    lookup
]
display(list(routes.aggregate(pipeline))[0])

{'_id': ObjectId('56e9b39b732b6122f8780d2d'),
 'airline': {'alias': 'AA',
  'iata': 'AAL',
  'id': 24,
  'name': 'American Airlines'},
 'airplane': '380',
 'alliance': [{'_id': ObjectId('5980bef9a39d0ba3c650ae9d'),
   'airlines': ['Air Berlin',
    'American Airlines',
    'British Airways',
    'Cathay Pacific',
    'Finnair',
    'Iberia Airlines',
    'Japan Airlines',
    'LATAM Chile',
    'LATAM Brasil',
    'Malasya Airlines',
    'Canadian Airlines',
    'Quantas',
    'Qatar Airways',
    'Royal Jordainian',
    'SriLanka Airlines',
    'S7 Airlines'],
   'name': 'OneWorld'}],
 'codeshare': '',
 'dst_airport': 'KUL',
 'src_airport': 'CDG',
 'stops': 0}

In [8]:
unwinding = {
    '$unwind': '$alliance'
}

pipeline = [
    predicate,
    lookup,
    unwinding
]
display(list(routes.aggregate(pipeline))[0])

{'_id': ObjectId('56e9b39b732b6122f8780d2d'),
 'airline': {'alias': 'AA',
  'iata': 'AAL',
  'id': 24,
  'name': 'American Airlines'},
 'airplane': '380',
 'alliance': {'_id': ObjectId('5980bef9a39d0ba3c650ae9d'),
  'airlines': ['Air Berlin',
   'American Airlines',
   'British Airways',
   'Cathay Pacific',
   'Finnair',
   'Iberia Airlines',
   'Japan Airlines',
   'LATAM Chile',
   'LATAM Brasil',
   'Malasya Airlines',
   'Canadian Airlines',
   'Quantas',
   'Qatar Airways',
   'Royal Jordainian',
   'SriLanka Airlines',
   'S7 Airlines'],
  'name': 'OneWorld'},
 'codeshare': '',
 'dst_airport': 'KUL',
 'src_airport': 'CDG',
 'stops': 0}

In [25]:
grouping = {
    '$group': {
        '_id': '$alliance.name',
        'total_routes': {"$sum": 1}
    }
}

In [26]:
sorting = {
    '$sort': {
        'total_routes': -1
    }
}

In [9]:
pipeline = [
    predicate,
    lookup,
    unwinding,
#     grouping,
#     sorting
    {'$sortByCount': '$alliance.name'}
]

In [10]:
display(list(routes.aggregate(pipeline)))

[{'_id': 'SkyTeam', 'count': 16},
 {'_id': 'Star Alliance', 'count': 11},
 {'_id': 'OneWorld', 'count': 11}]